<%- contentFor('body') %>

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <i class="fa fa-users"></i> Inquilinos - Adicionar
        </h1>
        <ol class="breadcrumb">
            <li><a href="/app"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="/app/tenants"><i class="fa fa-users"></i> Inquilinos</a></li>
            <li class="active">Adicionar</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <p>
            <a href="/app/tenants" class="btn btn-default">
                <span class="fa fa-arrow-left"></span> Voltar
            </a>
        </p>

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Adicionar Inquilino</h3>
            </div>


            <form @submit.prevent="addTenant()">
                <div class="box-body">
                    <div class="alert" v-if="tenant.messages.length" :class="{
                        'alert-danger': tenant.error,
                        'alert-success': !tenant.error,
                    }" v-html="tenant.messages.join('<br>')"></div>

                    <div class="form-group" :class="{
                        'has-error': tenant.fields.name.error
                    }">
                        <label for="tenantName">Nome do inquilino</label>
                        <input type="text" class="form-control" id="tenantName" placeholder="Nome do inquilino" v-model="tenant.fields.name.value" :disabled="tenant.loading">
                        <small class="help-block" v-html="tenant.fields.name.messages.join('<br>')"></small>
                    </div>
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary" :disabled="tenant.loading">Adicionar</button>
                </div>
            </form>
        </div>


    </section>

    <%- contentFor('scripts') %>
        <script>
            mixins.push({
                data: {
                    tenant: {
                        error: true,
                        messages: [],

                        loading: false,

                        fields: {
                            name: {
                                value: '',
                                error: false,
                                messages: []
                            }
                        }
                    }
                },
                methods: {
                    addTenant: async () => {
                        App.tenant.loading = true
                        App.tenant.error = false
                        App.tenant.messages = []

                        App.tenant.fields.name.value = App.tenant.fields.name.value.trim()
                        App.tenant.fields.name.error = false
                        App.tenant.fields.name.messages = []

                        try {
                            const response = (await axios.post('/api/tenants', {
                                name: App.tenant.fields.name.value
                            })).data.content.data

                            App.tenant.messages = [
                                'Inquilino adicionado com sucesso!'
                            ]

                            setTimeout(() => {
                                window.location.replace(`/app/tenants/${response.id}`)
                            }, 2000)
                        } catch (error) {
                            const response = error.response.data

                            App.tenant.error = true
                            App.tenant.messages = response.messages

                            for (const field in response.form) {
                                App.tenant.fields[field].error = true
                                App.tenant.fields[field].messages = response.form[field].messages
                            }
                        }

                        App.tenant.loading = false
                    }
                }
            })
        </script>