<%- contentFor('body') %>

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <i class="fa fa-users"></i> Inquilinos - Adicionar
        </h1>
        <ol class="breadcrumb">
            <li><a href="/app"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="/app/tenants"><i class="fa fa-users"></i> Inquilinos</a></li>
            <li class="active">Adicionar</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <p>
            <a href="/app/tenants" class="btn btn-default">
                <span class="fa fa-arrow-left"></span> Voltar
            </a>
        </p>

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Adicionar Inquilino</h3>
            </div>


            <form @submit.prevent="addTenant()">
                <div class="box-body">
                    <div class="alert" v-if="tenant.messages.length" :class="{
                        'alert-danger': tenant.error,
                        'alert-success': !tenant.error,
                    }" v-html="tenant.messages.join('<br>')"></div>

                    <div class="form-group" :class="{
                        'has-error': tenant.fields.name.error
                    }">
                        <label for="tenantName">Nome do inquilino</label>
                        <input type="text" class="form-control" id="tenantName" placeholder="Nome do inquilino"
                            v-model="tenant.fields.name.value" :disabled="tenant.loading">
                        <small class="help-block" v-html="tenant.fields.name.messages.join('<br>')"></small>
                    </div>
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary" :disabled="tenant.loading">Adicionar</button>
                </div>
            </form>
        </div>


    </section>

    <%- contentFor('scripts') %>
        <script src="/js/pages/tenants/create.js"></script>