<%- contentFor('body') %>

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <i class="fa fa-users"></i> Inquilinos
        </h1>
        <ol class="breadcrumb">
            <li><a href="/app"><i class="fa fa-home"></i> Home</a></li>
            <li class="active"><i class="fa fa-users"></i> Inquilinos</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <p class="text-right">
            <a href="/app/tenants/create" class="btn btn-default">
                <span class="fa fa-plus"></span> Adicionar
            </a>
        </p>

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Lista de Inquilinos</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" @click.prevent="getTenants()">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>

            <div class="box-body" v-if="!tenants.loaded && tenants.loading">
                <div class="alert alert-info">Carregando...</div>
            </div>

            <div class="box-body" v-if="tenants.loaded && !tenants.list.length">
                <div class="alert alert-warning">Nenhum inquilino cadastrado</div>
            </div>

            <div class="box-body no-padding" v-if="tenants.loaded && tenants.list.length">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 200px">ID</th>
                            <th>Nome</th>
                            <th style="width: 80px;" class="text-center">Ativo</th>
                            <th style="width: 160px;" class="text-center">Criado em</th>
                            <th style="width: 160px;" class="text-center">Editado em</th>
                            <th style="width: 160px;" class="text-center">Ações</th>
                        </tr>
                        <tr v-for="tenant in tenants.list">
                            <td>
                                <a :href="`/app/tenants/${tenant.id}`">{{ tenant.id }}</a>
                            </td>
                            <td>
                                <a :href="`/app/tenants/${tenant.id}`">{{ tenant.name }}</a>
                            </td>
                            <td class="text-center">
                                <span class="fa fa-check text-success" v-if="tenant.active"></span>
                                <span class="fa fa-times text-danger" v-if="!tenant.active"></span>
                            </td>
                            <td class="text-center">
                                {{ moment(tenant.createdAt).format('DD/MM/YYYY HH:mm:ss') }}
                            </td>
                            <td class="text-center">
                                {{ moment(tenant.alteredAt).format('DD/MM/YYYY HH:mm:ss') }}
                            </td>
                            <td class="text-center">
                                <a :href="`/app/tenants/${tenant.id}`" class="btn btn-default btn-sm" title="Editar">
                                    <span class="fa fa-pencil"></span>
                                </a>

                                <a href="#" class="btn btn-danger btn-sm" title="Remover"
                                    @click.prevent="removeTenant(tenant)">
                                    <span class="fa fa-trash"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="overlay" v-if="tenants.loaded && tenants.loading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>


    </section>

    <%- contentFor('scripts') %>
        <script src="/js/pages/tenants/list.js"></script>