<%- contentFor('body') %>

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <i class="fa fa-users"></i> Inquilinos - {{ tenant.oldValues.name }}
            (#{{ tenant.oldValues.tenantId }})
        </h1>
        <ol class="breadcrumb">
            <li><a href="/app"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="/app/tenants"><i class="fa fa-users"></i> Inquilinos</a></li>
            <li class="active">Editar</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <p>
            <a href="/app/tenants" class="btn btn-default">
                <span class="fa fa-arrow-left"></span> Voltar
            </a>
        </p>

        <div class="row">
            <div class="col-xs-12 col-lg-6">

                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Editar Inquilino</h3>
                    </div>

                    <form @submit.prevent="">
                        <div class="box-body">
                            <div class="alert" v-if="tenant.messages.length" :class="{
                                'alert-danger': tenant.error,
                                'alert-success': !tenant.error,
                            }" v-html="tenant.messages.join('<br>')"></div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group" :class="{
                                        'has-error': tenant.fields.name.error
                                    }">
                                        <label for="tenantName">Nome do inquilino</label>
                                        <input type="text" class="form-control" id="tenantName"
                                            :placeholder="tenant.oldValues.name" v-model="tenant.newValues.name"
                                            :disabled="tenant.loading">
                                        <small class="help-block"
                                            v-html="tenant.fields.name.messages.join('<br>')"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group" :class="{
                                        'has-error': tenant.fields.active.error
                                    }">
                                        <label>Ativo</label>
                                        <p class="form-control-static">
                                            <span class="material-switch">
                                                <input :id="'tenantActiveSwitch_' + tenant.oldValues.tenantId"
                                                    :name="'tenantActiveSwitch_' + tenant.oldValues.tenantId"
                                                    type="checkbox" v-model="tenant.newValues.active">
                                                <label :for="'tenantActiveSwitch_' + tenant.oldValues.tenantId"
                                                    class="label-success"></label>
                                            </span>
                                        </p>
                                        <small class="help-block"
                                            v-html="tenant.fields.active.messages.join('<br>')"></small>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label>Criado em</label>
                                        <p class="form-control-static">{{
                                            moment(tenant.newValues.createdAt).format('DD/MM/YYYY HH:mm:ss') }}</p>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label>Editado em</label>
                                        <p class="form-control-static">{{
                                            moment(tenant.newValues.alteredAt).format('DD/MM/YYYY HH:mm:ss') }}</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="save-bar" :class="{
                            'active': JSON.stringify(tenant.oldValues) != JSON.stringify(tenant.newValues)
                        }">
                            <span>
                                Cuidado, você tem alterações que ainda não foram salvas.
                            </span>
                            <div class="actions">
                                <button type="button" class="btn btn-link" :disabled="tenant.loading"
                                    @click.prevent="resetForm()">Redefinir</button>
                                <button type="button" class="btn btn-success" :disabled="tenant.loading"
                                    @click.prevent="updateTenant()">Salvar</button>
                            </div>
                        </div>
                    </form>

                    <div class="overlay" v-if="tenant.loading">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->

            <div class="col-xs-12 col-lg-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Lista de Usuários</h3>
                        <div class="box-tools pull-right">
                            <a :href="`/app/tenants/${tenant.oldValues.tenantId}/users/create`" class="btn btn-box-tool">
                                <i class="fa fa-plus"></i>
                            </a>

                            <button type="button" class="btn btn-box-tool" @click.prevent="filterUsers()">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </div>
                    </div>

                    <div class="box-body" v-if="!users.loaded && users.loading">
                        <div class="alert alert-info">Carregando...</div>
                    </div>

                    <div class="box-body" v-if="users.loaded && !users.list.length">
                        <div class="alert alert-warning">Nenhum usuário cadastrado</div>
                    </div>

                    <div v-if="users.loaded && users.list.length">
                        <div class="box-body no-padding">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th style="width: 280px" @click.prevent="filterUsers(null, 'userId')"
                                                class="paginate-column">
                                                ID
                                                <span class="fa fa-sort-amount-asc pull-right"
                                                    v-if="users.meta.orderBy.column === 'userId' && users.meta.orderBy.dir === 'ASC'"></span>
                                                <span class="fa fa-sort-amount-desc pull-right"
                                                    v-if="users.meta.orderBy.column === 'userId' && users.meta.orderBy.dir === 'DESC'"></span>
                                                <span class="fa fa-sort-amount-asc pull-right text-muted"
                                                    v-if="users.meta.orderBy.column !== 'userId'"></span>
                                            </th>
                                            <th @click.prevent="filterUsers(null, 'personName')"
                                                class="paginate-column">
                                                Nome
                                                <span class="fa fa-sort-amount-asc pull-right"
                                                    v-if="users.meta.orderBy.column === 'personName' && users.meta.orderBy.dir === 'ASC'"></span>
                                                <span class="fa fa-sort-amount-desc pull-right"
                                                    v-if="users.meta.orderBy.column === 'personName' && users.meta.orderBy.dir === 'DESC'"></span>
                                                <span class="fa fa-sort-amount-asc pull-right text-muted"
                                                    v-if="users.meta.orderBy.column !== 'personName'"></span>
                                            </th>
                                            <th @click.prevent="filterUsers(null, 'userEmail')"
                                                class="paginate-column">
                                                E-mail
                                                <span class="fa fa-sort-amount-asc pull-right"
                                                    v-if="users.meta.orderBy.column === 'userEmail' && users.meta.orderBy.dir === 'ASC'"></span>
                                                <span class="fa fa-sort-amount-desc pull-right"
                                                    v-if="users.meta.orderBy.column === 'userEmail' && users.meta.orderBy.dir === 'DESC'"></span>
                                                <span class="fa fa-sort-amount-asc pull-right text-muted"
                                                    v-if="users.meta.orderBy.column !== 'userEmail'"></span>
                                            </th>
                                            <th style="width: 80px;" @click.prevent="filterUsers(null, 'userActive')"
                                                class="paginate-column">
                                                Ativo
                                                <span class="fa fa-sort-amount-asc pull-right"
                                                    v-if="users.meta.orderBy.column === 'userActive' && users.meta.orderBy.dir === 'ASC'"></span>
                                                <span class="fa fa-sort-amount-desc pull-right"
                                                    v-if="users.meta.orderBy.column === 'userActive' && users.meta.orderBy.dir === 'DESC'"></span>
                                                <span class="fa fa-sort-amount-asc pull-right text-muted"
                                                    v-if="users.meta.orderBy.column !== 'userActive'"></span>
                                            </th>
                                            <th style="width: 160px;" @click.prevent="filterUsers(null, 'userCreatedAt')"
                                                class="paginate-column">
                                                Criado em
                                                <span class="fa fa-sort-amount-asc pull-right"
                                                    v-if="users.meta.orderBy.column === 'userCreatedAt' && users.meta.orderBy.dir === 'ASC'"></span>
                                                <span class="fa fa-sort-amount-desc pull-right"
                                                    v-if="users.meta.orderBy.column === 'userCreatedAt' && users.meta.orderBy.dir === 'DESC'"></span>
                                                <span class="fa fa-sort-amount-asc pull-right text-muted"
                                                    v-if="users.meta.orderBy.column !== 'userCreatedAt'"></span>
                                            </th>
                                            <th style="width: 160px;" @click.prevent="filterUsers(null, 'userAlteredAt')"
                                                class="paginate-column">
                                                Editado em
                                                <span class="fa fa-sort-amount-asc pull-right"
                                                    v-if="users.meta.orderBy.column === 'userAlteredAt' && users.meta.orderBy.dir === 'ASC'"></span>
                                                <span class="fa fa-sort-amount-desc pull-right"
                                                    v-if="users.meta.orderBy.column === 'userAlteredAt' && users.meta.orderBy.dir === 'DESC'"></span>
                                                <span class="fa fa-sort-amount-asc pull-right text-muted"
                                                    v-if="users.meta.orderBy.column !== 'userAlteredAt'"></span>
                                            </th>
                                            <th style="width: 160px;" class="text-center">Ações</th>
                                        </tr>
                                        <tr v-for="user in users.list">
                                            <td>
                                                <a :href="`/app/tenants/${tenant.oldValues.tenantId}/users/${user.userId}`">
                                                    {{ user.userId }}
                                                </a>
                                            </td>
                                            <td>
                                                <a :href="`/app/tenants/${tenant.oldValues.tenantId}/users/${user.userId}`">
                                                    {{ user.personName }}
                                                </a>
                                            </td>
                                            <td>
                                                <a :href="`/app/tenants/${tenant.oldValues.tenantId}/users/${user.userId}`">
                                                    {{ user.userEmail }}
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <span class="fa fa-check text-success" v-if="user.userActive"></span>
                                                <span class="fa fa-times text-danger" v-if="!user.userActive"></span>
                                            </td>
                                            <td class="text-center">
                                                {{ moment(user.userCreatedAt).format('DD/MM/YYYY HH:mm:ss') }}
                                            </td>
                                            <td class="text-center">
                                                {{ moment(user.userAlteredAt).format('DD/MM/YYYY HH:mm:ss') }}
                                            </td>
                                            <td class="text-center" nowrap>
                                                <a :href="`/app/tenants/${tenant.oldValues.tenantId}/users/${user.userId}`" class="btn btn-default btn-sm" title="Editar">
                                                    <span class="fa fa-pencil"></span>
                                                </a>

                                                <a href="#" class="btn btn-danger btn-sm" title="Remover"
                                                    @click.prevent="removeUser(user)">
                                                    <span class="fa fa-trash"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="box-footer">
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <p style="line-height: 34px;">
                                        <span class="text-muted">Mostrando de {{ users.meta.start + 1 }} até {{
                                            users.meta.start +
                                            users.list.length }} de {{ users.meta.totalCount }}</span>
                                    </p>
                                </div>

                                <div class="col-xs-12 col-sm-8 text-right">
                                    <nav>
                                        <ul class="pagination" style="margin-top: 0;">
                                            <li v-for="b in makePagination(users.meta)" :class="{
                                                'active': b.active,
                                                'disabled': b.disabled
                                            }">
                                                <a href="#" @click.prevent="b.page ? filterUsers(b.page) : false;"
                                                    v-html="b.label" :disabled="b.disabled"></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="overlay" v-if="users.loaded && users.loading">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->

        </div>
        <!-- /.row -->



    </section>

    <%- contentFor('scripts') %>
        <script>var tenantId = '<%- uuid %>';</script>
        <script src="/js/pages/tenants/update.js"></script>